.bounding-box-container {
  display: inline-block;
  transform-origin: top left;
  transform: scale(0.5);
  margin-left: 20px;
}

.image {
  display: block;
}

.bounding-box {
  position: absolute;
  border: 8px solid rgba(255, 64, 64, 0.4);
  box-sizing: border-box;
  transition: border-color 0.3s;
  transform: scale(1);
}

.bounding-box.active {
  border-color: #4CAF50;
  animation: oscillateScale 1s infinite;
}

@keyframes oscillateScale {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}